body {
  background-color: #E3F2FD;
}

//////////////////////////////
// PAGE STYLES
//////////////////////////////
// Homepage styles
.home-card {
  margin: auto;
  width: 80%;
}

.home-card-icon {
  font-size: 12em;
}

// Clock
.clock-card-icon {
  font-size: 8em;
}

// Material Design Lite Adjusters
.mdl-page {
  margin: auto;
  width: 90%;
  background-color: #FFFFFF;
  padding-top: 50px;
  padding-bottom: 50px;
}

.mdl-page-footer {
  margin: auto;
  width: 90%;
  background-color: #E3F2FD;
}
.mdl-page-footer-link {
  text-decoration: none;
}
.mdl-button--block {
  width: 100%;
}

// Header Styles
header a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

.clock-tray {
  font-size: 1em;
  vertical-align: bottom;
}

.header-clock {
  vertical-align: super;
}
.header-clock-tray {
  vertical-align: sub;
}


// Helper Classes
.text-center {
  text-align: center;;
}
.center-block {
  display: block;
  margin: auto;
}
.top-margin {
  margin-top: 50px;
}

// Containers
.login-container {
  width: 350px;
}
