body {
  background-color: #E3F2FD;
}
.demo-layout-transparent {
  background: url('/images/nasa-lights.jpg') center / cover;
}
.demo-layout-transparent .mdl-layout__header,
.demo-layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
   your background is light. */
  color: white;
}

// Material Design Lite Adjusters
.mdl-page {
  margin: auto;
  width: 90%;
  background-color: #FFFFFF;
}

.mdl-button--block {
  width: 100%;
}
// Header Styles
header a {
  color: rgb(66, 66, 66);
  text-decoration: none;
}

.header-clock {
  vertical-align: super;
}
.header-clock-tray {
  vertical-align: sub;
}

// Helper Classes
.text-center {
  text-align: center;;
}
.center-block {
  display: block;
  margin: auto;
}
.top-margin {
  margin-top: 50px;
}

// Containers
.login-container {
  width: 350px;
}
