<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arise Pi</title>

    <!-- Disable tap highlight on IE -->
    <meta name="msapplication-tap-highlight" content="no">

    <!-- Web Application Manifest -->
    <link rel="manifest" href="manifest.json">

    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Arise Pi">
    <link rel="icon" sizes="192x192" href="images/touch/chrome-touch-icon-192x192.png">

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Arise Pi">
    <link rel="apple-touch-icon" href="images/touch/apple-touch-icon.png">

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#2F3BA2">

    <!-- Color the status bar on mobile devices -->
    <meta name="theme-color" content="#2F3BA2">

    <link rel="stylesheet" href="https://code.getmdl.io/1.1.2/material.light_blue-indigo.min.css">

    <!-- Material Design icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Your styles -->
    <link rel="stylesheet" href="styles/main.css">

  </head>

  <body ng-app="arisePi" ng-strict-di>

    <div class="mdl-layout mdl-js-layout" ng-controller="MainController as main">
      <header class="mdl-layout__header mdl-layout__header--waterfall">
        <div class="mdl-layout-icon"></div>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">
            <a href="/#/">
              <h3>ARISE PI</h3>
            </a>
          </span>
          <div class="mdl-layout-spacer text-center"></div>

          <!-- Not Logged In View -->
          <nav class="mdl-navigation" ng-hide="main.loggedIn">
            <a class="mdl-navigation__link" href="#/docs">Docs</a>
            <a class="mdl-navigation__link" href="/#/signup">Sign Up</a>
            <a class="mdl-navigation__link" href="/#/login">Login</a>
          </nav>
          <!-- End Not Logged In View -->

          <!-- Logged In View -->
          <nav class="mdl-navigation" ng-show="main.loggedIn">
            <a class="mdl-navigation__link" href="#/docs">Docs</a>
            <a class="mdl-navigation__link" href="/#/piclocks">Manage Clocks</a>
            <a class="mdl-navigation__link" href="/#/" ng-click="main.logout(); main.updateLoggedIn();">Logout</a>
          </nav>
          <!-- Logged In View -->

        </div>

        <!--  PAGE TITLE -->
        <div class="mdl-layout__header-row">
          <h2>
            <i class="material-icons clock-tray">av_timer</i>
            {{ main.time }}
          </h2>
        </div>
      </header>
      <div class="mdl-layout__drawer">
        <span class="mdl-layout__title">
          <i class="material-icons header-clock-tray">av_timer</i>
          <span>
            {{ main.time }}
          </span>
        </span>

        <!-- Not Logged In View -->
        <nav class="mdl-navigation" ng-hide="main.loggedIn">
          <a class="mdl-navigation__link" href="#/docs">Docs</a>
          <a class="mdl-navigation__link" href="/#/signup">Sign Up</a>
          <a class="mdl-navigation__link" href="/#/login">Login</a>
        </nav>
        <!-- End Not Logged In View -->

        <!-- Logged In View -->
        <nav class="mdl-navigation" ng-show="main.loggedIn">
          <a class="mdl-navigation__link" href="/#/docs">Docs</a>
          <a class="mdl-navigation__link" href="/#/piclocks">Manage Cocks</a>
          <a class="mdl-navigation__link" href="/#/" ng-click="main.logout(); main.updateLoggedIn();">Logout</a>
        </nav>
        <!-- Logged In View -->

      </div>
      <!-- CONTENT CONTAINER -->
      <main class="mdl-layout__content">

        <ng-view onload="main.updateLoggedIn();"></ng-view>

        <!-- Toast Container: Not visable until activated -->
        <div id="toast" class="mdl-js-snackbar mdl-snackbar">
          <div class="mdl-snackbar__text"></div>
          <button class="mdl-snackbar__action" type="button"></button>
        </div>
        <!-- END TOAST CONTAINER -->

        <div class="mdl-grid mdl-page-footer top-margin mdl-shadow--1dp">
          <div class="mdl-cell mdl-cell--12-col text-center">
            <a href="/#/me" class="mdl-page-footer-link">
              Built By Brandon</a>
          </div>
        </div>

      </main>

      <!-- END CONTENT CONTAINER -->
    </div>

    <!--  JAVASCRIPT CDNS -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular-route.js"></script> -->
    <!-- <script type="text/javascript" src="https://cdn.rawgit.com/auth0/angular-jwt/master/dist/angular-jwt.js"></script>
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.6/material.min.js"></script> -->
    <!--  END JAVASCRIPT CDNS -->

    <!-- build:js(app/) ../../scripts/main.min.js -->
    <script src="scripts/angular.js"></script>
    <script src="scripts/angular-route.js"></script>
    <script src="scripts/angular-jwt.js"></script>
    <script src="scripts/material.js"></script>
    <script src="scripts/main.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/services.js"></script>
    <script src="scripts/factories.js"></script>
    <script src="scripts/routes.js"></script>
    <script src="scripts/controllers.js"></script>
    <!-- endbuild -->

    <!-- Built with love using Web Starter Kit -->
  </body>
</html>
