<form ng-submit="addClockCtrl.submit(addClockCtrl.clock)" name="signup">

  <div class="mdl-grid top-margin mdl-shadow--2dp mdl-page">
    <div class="mdl-cell mdl-cell--12-col">
      <h1>{{ addClockCtrl.title }}</h1>
      <p>Well this is an excting time for you! To get started with setting up your clock you are going to have ton configure your Raspberry Pi.</p>
      <p> Place holder for instructions </p>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="name" name="name" ng-model="addClockCtrl.clock.name">
        <label class="mdl-textfield__label" for="name">Clock Name</label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--4-col">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" id="ip" name="ip" ng-model="addClockCtrl.clock.ip">
        <label class="mdl-textfield__label" for="ip"> IP Address </label>
      </div>
    </div>
    <div class="mdl-cell mdl-cell--12-col text-center">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent mdl-button--block">
        Add Clock!
      </button>
    </div>
  </div>
</form>
