<div class="mdl-grid mdl-page top-margin mdl-shadow--1dp">

  <div class="mdl-cell mdl-cell--6-col" ng-show="main.loggedIn">
    <h1>
      {{ clockCtrl.clockName }}
    </h1>
    <h2>
      {{ clockCtrl.clockId }}
    </h2>
    <h2>
      {{ clockCtrl.clockIp }}
    </h2>
  </div>
  <div class="mdl-cell mdl-cell--6-col" ng-show="main.loggedIn">
    <a ng-href="/#/clock/{{clockCtrl.id}}/alarm-off" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Turn Off Alarm
    </a>
    <a ng-href="/#/clock/{{clockCtrl.id}}/add-alarm" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Add Alarm
    </a>
  </div>

  <div class="mdl-cell mdl-cell--4-col" ng-repeat="alarm in clockCtrl.alarms">
    <div class="mdl-card mdl-shadow--2dp">
      <div class="mdl-card__title">
        <h4 class="mdl-card__title-text">{{ alarm.name }}
          {{ alarm.hour }}:{{ alarm.min }}
        </h4>
        <div class="mdl-card__subtitle-text" ng-show="alarm.am">
          AM
        </div>
        <div class="mdl-card__subtitle-text" ng-show="(alarm.am && alarm.pm)">
          +
        </div>
        <div class="mdl-card__subtitle-text" ng-show="alarm.pm">
          PM
        </div>
      </div>
      <div class="mdl-card__supporting-text">
        <p>{{ alarm.id }}</p>
        <ul>
          Days on:
          <li ng-show="alarm.sun">
            Sunday
          </li>
          <li ng-show="alarm.mon">
            Monday
          </li>
          <li ng-show="alarm.tue">
            Tuesday
          </li>
          <li ng-show="alarm.wed">
            Wednesday
          </li>
          <li ng-show="alarm.thu">
            Thursday
          </li>
          <li ng-show="alarm.fri">
            Friday
          </li>
          <li ng-show="alarm.sat">
            Saturday
          </li>
        </ul>
      </div>
      <div class="mdl-card__actions">
        <a ng-href="/#/clock/{{clock.id}}" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Edit Alarm
        </a>
        <button ng-click="clockCtrl.deleteAlarm(clockCtrl.clockIp, alarm.id, clockCtrl.clockId)" class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
          Delete Alarm
        </button>
      </div>
    </div>
  </div>
</div>
