<div class="mdl-grid mdl-page top-margin mdl-shadow--1dp">
  <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">

    <h1>Arise Pi Docs</h1>
    <div class="mdl-card mdl-shadow--2dp top-margin">
      <div class="mdl-card__title">
        <h2 id="docs-about" class="mdl-card__title-text">About</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </div>
    </div>
    <div class="mdl-card mdl-shadow--2dp top-margin">
      <div class="mdl-card__title">
        <h2 id="docs-parts-list" class="mdl-card__title-text">Parts List</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ul class='mdl-list'>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <a href="https://www.raspberrypi.org/products/raspberry-pi-3-model-b/">Raspberry Pi Model B</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <a href="http://www.amazon.com/JBtek-Channel-Module-Arduino-Raspberry/dp/B00KTEN3TM?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o04_s00">Relay</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <a href="http://www.amazon.com/Nubee%C2%AE-16-4ft-Non-waterproof-Flexible-Controller/dp/B00L77782S?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o05_s00">12 Volt Leds</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              <a href="http://www.amazon.com/Connector-JACKYLED-Adapter-Camera-2-1x5-5mm/dp/B00OWMW2QM?ie=UTF8&psc=1&redirect=true&ref_=oh_aui_detailpage_o01_s00">Male and Female DC Conectors</a>
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Speaker (Any with a 3.5mm audio jack intput )
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              3.5mm audio male to male
            </span>
          </li>
        </ul>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp top-margin">
      <div class="mdl-card__title">
        <h2 id="docs-setup" class="mdl-card__title-text">
          Hardware Setup</h2>
      </div>
      <div class="mdl-card__supporting-text">
        Go to
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp top-margin">
      <div class="mdl-card__title">
        <h2 id="docs-deploy" class="mdl-card__title-text">Deploy</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ol class='mdl-list'>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              1. <a href="https://github.com/BrandonHBodine/piclock"> Git Repository</a>
            </span>
          </li>
        </ol>
      </div>
    </div>

    <div class="mdl-card mdl-shadow--2dp top-margin">
      <div class="mdl-card__title">
        <h2 id="docs-tech" class="mdl-card__title-text">Tech List</h2>
      </div>
      <div class="mdl-card__supporting-text">
        <ol class='mdl-list'>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Node.js
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Express.js
            </span>
          </li>
          <li class="mdl-list__item">
            <span class="mdl-list__item-primary-content">
              Knex.js
            </span>
          </li>

      </div>
    </div>

  </div>
</div>
