<div class="mdl-grid mdl-page top-margin mdl-shadow--1dp">
  <div class="mdl-cell mdl-cell--11-col mdl-cell--1-offset">
    <h1>Brandon Bodine</h1>
    <h3>Contact Info</h3>
    <ul>
      <li>
        BrandonHBodine@gmail.com
      </li>
    </ul>
    <h3>Find Me</h3>
    <ul>
      <li>
        <a href="http://brandonbodine.com/">BrandonBodine.com</a>
      </li>
      <li>
        <a href="linkedin.com/in/brandonhbodine">https://www.linkedin.com/in/brandonhbodine</a>
      </li>
      <li>
        <a href="github.com/BrandonHBodine">https://github.com/BrandonHBodine</a>
      </li>
    </ul>
  </div>
</div>
