<div class="mdl-grid mdl-page top-margin mdl-shadow--1dp" ng-show="main.loggedIn">
  <div class="mdl-cell mdl-cell--12-col">
    <h1>
      {{ alarmCtrl.title }}
    </h1>
    <p>To turn off the alarm solve these simple math problems.</p>
  </div>
  <div class="mdl-cell mdl-cell--12-col" ng-show="alarmCtrl.q1">
    <input type="number">
  </div>
  <div class="mdl-cell mdl-cell--12-col" ng-show="alarmCtrl.q1">
    <input type="number">
  </div>
  <div class="mdl-cell mdl-cell--12-col" ng-show="alarmCtrl.q1">
    <input type="number">
  </div>
  <div class="mdl-cell mdl-cell--12-col">
    <h4>Congratulations, You can turn off your alarm now! Don't forget to get out of bed though.</h4>
    <button ng-click="alarmCtrl.turnOffAlarm(alarmCtrl.clockIp)" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
      Turn Alarm Off
    </button>
  </div>
</div>
